*.pklz
*.pyc
*.npz
*.xdebug_tkmedit
*.mp4
atom-config.txt

.DS_Store

python3

docs
docs/*

debian
debian/*

dist
dist/*

build
build/*

tests
tests/*

*.png

_build
_static
_templates

*.ipynb_checkpoints

.git
.git/*

.circleci
.circleci/*
