numpy==1.21.0
coverage==5.2.1
duecredit==0.8.0
nibabel==3.2.2
mne==0.24.1
mne_connectivity==0.3
datalad[full]==0.19.2
datalad-container==1.1.6
datalad-neuroimaging==0.3.1
pybids==0.14.0
statsmodels==0.13.1
networkx==2.6.3
pydicom==2.2.2
scikit-image==0.16.2
pycartool==0.1.1
