Source: cmp
Section: python
Priority: optional
Maintainer: CHUV-EPFL <info@connectomics.org>
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), cdbs (>= 0.4.90), python-all-dev (>= 2.6.6-3)
X-Python-Version: >=2.6
Standards-Version: 3.9.3.1

Package: cmp
Architecture: all
Homepage: http://www.cmtk.org
Depends: ${misc:Depends}, ${python:Depends}, python-traits, python-traitsui, libboost-program-options-dev (>=1.40), libnifti-dev, libblitz0-dev
Description: Connectome Mapper
 Connectome Mapper implements a full diffusion MRI processing pipeline, from raw Diffusion/T1/T2 data to multi-resolution connection matrices. It also offers support for resting state fMRI data processing and multi-resolution functional connection matrices creation. The Connectome Mapper is part of the Connectome Mapping Toolkit.
