sphinx==4.2.0
sphinx_rtd_theme==1.0.0
sphinx-argparse==0.3.1
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-napoleon==0.7
nbsphinx==0.8.7
recommonmark==0.7.1
readthedocs-sphinx-ext==2.1.4
sphinx-autodoc-typehints==1.12.0
traits==6.0.0
traitsui==6.1.3
grabbit
pybids==0.10.2
nipype==1.5.0
matplotlib
dipy==1.1.0
pyface[pyside2]==6.1.2
